eNoAzAAz/4a1UVbcuL6r89GstaLZYCp67sla/3xyfoXg3Tycf7Igmxg4/nEpM+J+lKQvAPjU7VOqgsj3fdwvoIvUEg7CdKWXvD3cVxs3JzOKxmVwKHSLxDwIe9W9wLex/SutUQvw2ikUIk3Vsp0yT54eC8o7WMrONcdQFjDFW4PvyLjDw5jyEdULPMV2gRpNviOINTk+kc8gZuTtQn7x6X/jsgKPr5MKtkmbAwJkhBQuq5GuPgP2qobHWu1e5bJxj1LmN1RXa35aJYKVe1CqS5Rj2QEAAP//KURoAg==