eNoAzAAz/2+8xvYDb/vL7UYjrV/ytF8sj6u0tL5tFhcOTMxvj8Pa/ts4GUGvLKwlxxo9bbTwS6R0+3qByRpsWCcfqTQW5ehsddpKxKeYssQ7+bDwsZ1mbMHubVjWQ037ArSUpEO1gg7AyWGQKoF56q8TGo3St++FW0Sfx/pSaAf6t7gpYsZbRXT+R3JYGHojti6Tbrgb0gFWcoeAnWFGj2HumFK8ogW4fuHiTk2/9ghxN8eflbhsBaXu83j+GnyTWr9sJs8SADsAoZH2Tv9C+fLyxwEAAP//5J1q5A==